body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}
nav {
  background-color: blue;
  font-size: large;
  padding: block 3px;
}

article {
  display: flex;
  background-color: silver;
}

div {
  background-color: blueviolet;
  font-style: italic;
}

p {
  font-size: medium;
  border: brown;
  border-radius: 16px;
}
