* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  flex-wrap: wrap;
}

#about-container {
  flex: 1.4;
  padding: 2rem 4rem;
}

#brand {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#brand img {
  height: 50px;
  margin-right: 0.6rem;
}

#exclusive {
  text-transform: uppercase;
  color: #0075ff;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#date {
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 1rem;
}

#description {
  max-width: 500px;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}
#about-container h4 {
  font: 1.4rem;
  margin-bottom: 1rem;
}

#users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-card {
  border: 2px solid #ccc;
  padding: 1rem;
  width: 180px;
  text-align: center;
}

.user-card img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: rem;
}

.user-card .user-name {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.user-card .user-role {
  color: #aaa;
  font-size: 0.9rem;
}

#about-container h2 {
  font-size: 2.4rem;
  max-width: 500px;
  margin-bottom: 1rem;
}

#form-container {
  flex: 1;
}

/* apresentacao do evento*/

/*

 resumo css
.foto {
  width: 300px;
  padding: 50px;
  margin: 100px;
  border: 3px rgb(36, 212, 39);
}

#title {
  color: rgb(24, 166, 100);
}

.text {
  color: brown;
  border: 3px blue;
}

.back {
  background-color: blueviolet;
  color: rgb(36, 212, 39);
}

.backgraund-image {
  background-image: url("img/pattern.png");
  padding: 25px;
  color: aliceblue;
}

#width-height {
  width: 200px;
  height: 100px;
  background-color: black;
}

#margin {
  border: 3px solid red;
  margin: 50px;
  width: 100px;
  height: 100px;
  padding: 40px;
}

#redonda {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
}*/
